.yellow {
  background: #fee100;
}

.yellowtext {
  color: #fee100;
}

.footercolour {
  background-color: #333333;
}

.readycolour {
  background-color: #1e1d22;
}

body {
  overflow-x: hidden !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
